name = "gemini-key-rotator"
main = "src/index.ts"
compatibility_date = "2024-05-06"

# routes = [
#   { pattern = "your-custom-domain.com", custom_domain = true }
# ]

[vars]
# GEMINI_API_BASE_URL = "https://generativelanguage.googleapis.com"
# ADMIN_ACCESS_TOKEN = "your-admin-token"
# CLOUDFLARE_AI_GATEWAY_ID = "your-gateway-id"
# CLOUDFLARE_AI_GATEWAY_NAME = "your-gateway-name"
# OAUTH_CLIENT_ID = "your-google-oauth-client-id"
# OAUTH_CLIENT_SECRET = "your-google-oauth-client-secret"
#ENABLE_API_LOGGING = "true"
#ENABLE_CLOUDFLARE_AI_GATEWAY = "true"
ENABLE_ORG_GEMINI_API_BASE_URL = "true"
# ENABLE_USAGE_STATISTICS = "true"
# NOTIFICATION_EMAIL = "your_notification_email_address"
# RESEND_API_KEY = "re_your_api_key"

[triggers]
crons = ["0 0 * * *"]

[[rules]]
type = "Text"
globs = ["**/*.html"]
fallthrough = false

[[d1_databases]]
binding = "DB"
database_name = "your-database-name"
database_id = "your-database-id"

[durable_objects]
bindings = [
  { name = "KEY_ROTATOR", class_name = "KeyRotator" }
]

[[migrations]]
tag = "v1"
new_sqlite_classes = ["KeyRotator"]

[observability]
enabled = true
head_sampling_rate = 1
